.cont-container{
    display: flex;
    justify-content: space-between;
}

/* .cont-container>div{
    flex: 1;
} */

.c-left{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.c-left>span:nth-child(1){
    color: orange;
    font-weight: 900;
    font-size: 1.5rem;
}

.c-left>span:nth-child(2){
    color: #1f3e72;
    font-weight: 900;
    font-size: 2rem;
}

.c-left>span:nth-child(3){
    color: rgba(140,139, 139);
    font-size: 0.9rem;
}

.c-right{
    width: 100%;
    margin-inline-start: 15rem;
}

.contactModes{
    margin-top: 2rem;
    gap: 1rem;
}

.contactModes .row{
    display: flex;
    gap: 1.5rem;
    margin-block-end: 3rem;
}

.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}

.mode:hover{
    box-shadow: var(--shadow);
    scale: 1.04;
}

.mode .icon{
    background-color: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 5px;
}

.mode .flex-start{
    display: flex;
    margin-block-end: 1rem;
    gap: 1rem;
}

.mode .details{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mode .details>span:nth-child(1){
    color: black;
    font-weight: 600;
}

.mode .details>span:nth-child(2){
    color: #1f3e72;
    font-weight: 600;
}

.mode .button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: scale(1); */
}

.mode .button:hover{
    scale: 0.82;
}

@media only screen and (max-width: 1274px){
    .c-right {
        margin-inline-start: 10rem;
    }
}

@media only screen and (max-width: 1192px){
    .c-right {
        margin-inline-start: 6rem;
    }
}

@media only screen and (max-width: 1128px){
    .c-right {
        margin-inline-start: 4rem;
    }
}

@media only screen and (max-width: 1064px){
    .mode {
        width: 14rem;
    }
}

@media only screen and (max-width: 1000px){
    .mode .icon {
        padding: 0.5rem;
    }

    .mode .details {
        line-height: 1.2;
    }

    .mode .button {
        font-size: 12px;
    }

    .mode {
        width: auto;
        flex: 1;
    }

    .c-left>span:nth-child(3) {
        font-size: 0.7rem;
    }

    .c-left>span:nth-child(2) {
        font-size: 1.6rem;
    }

    .cont-container {
        flex-direction: column;
    }

    .c-right {
        margin-inline-start: 0;
    }

    .c-right .image-container{
        width: auto;
        height: auto;
        border-radius: 0;
    }
}

@media only screen and (max-width: 624px){
    .c-container>img {
        width: 90px;
    }

    .contactModes .row {
        flex-direction: column;
    }
}

@media only screen and (max-width: 370px){
    .c-container>img {
        width: 70px;
    }

    .c-container>img:last-child {
       display: none;
    }
}