.f-container{
    display: flex;
    justify-content: space-between;
}

.f-left{
    display: flex;
    flex-direction: column;
}

.f-left>img{
    margin-block-end: 1rem;
}

.f-right{
    display: flex;
    flex-direction: column;
}

.f-right>span:nth-child(1){
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
}

.f-right>span:nth-child(2){
    color: rgba(140,139, 139);
    font-size: 0.9rem;
}

.f-right .f-menu{
    margin-block-start: 2rem;
}

.f-menu {
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 774px){
    .f-right>span:nth-child(1) {
        font-size: 1.2rem;
    }

    .f-menu {
        font-size: 14px;
    }
}

@media only screen and (max-width: 630px){
    .f-container {
        flex-direction: column;
    }

    .f-left {
        justify-content: center;
        align-items: center;
    }

    .f-right {
        align-items: center;
        margin-block-start: 3rem;
    }
}